<%- include("./partials/header") %>
<div class="main">
    <h1>Node.js Authentication App</h1>
    <img src="images/node.png" alt="">
    <div class="buttons">
        <a href="/login">Login</a>
        <a href="/signup">Signup</a>
    </div>
    <a href="/logout">Logout</a>
    <a class="forget" href="#">forget password</a>
</div>



<%- include("./partials/footer") %>